Lab12_WPF/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Spocti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operand1" type="xs:decimal" />
        <xs:element minOccurs="0" name="operand2" type="xs:decimal" />
        <xs:element minOccurs="0" name="operace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpoctiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpoctiResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>